<html>
<head>
  <meta charset="utf8">

  <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">

  <link rel="import" href="/bower_components/polymer/polymer.html">
  <link rel="import" href="/bower_components/layout/layout.html">
  <link rel="import" href="/bower_components/chartjs-element/chartjs-element.html">
  <style>

    chartjs-element {
      width: auto !important;
      height: auto !important;
    }

    canvas{
      width: 100% !important;
      max-width: 800px;
      height: auto !important;
    }
    
  </style>
</head>

<body class="fullbleed vertical layout">
    <div class="flex vertical layout">
      <chartjs-element class="flex horizontal" kind="Line"></chartjs-element>
    </div>
</body>
</html>
